*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 400px;
    margin: 2rem auto;
    background-color: darkslateblue;
    text-align: center;
}

.avatar{
    border-radius: 5rem;
}

.divisione{
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
}

.title{
    display: flex;
}

.like, .number_like{
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 10px;
}

.blue{
    background-color:cyan;
}


